.root{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.body, html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  align-items: center;
  align-content:center ;
  background: repeating-linear-gradient(315deg, #fffff2 1%, #006837 38%, #a2e8c3 68%, #ae7140 100%);
  animation: gradient 30s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  height: 100%;
}


/* FOOTER */

.footer {
  width: 100%;
  background-color: #a2e8c3; /* Adjust the background color as needed */
  color:  #7d6f5b;
  text-align: center;
  padding: 1rem 0;
}

.footer-content {
  margin: auto;
  font-weight: 600;
  font-size: 0.9rem;
}

.admin-footer {
  width: 100%;
  background-color: #115c42; /* Adjust the background color as needed */
  color:  #fffff2;
  text-align: center;
  padding: 1rem 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a2e8c3;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #115c42;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%; 
}

.navbar-logo h1 {
  color: #7d6f5b; 
  font-size: 2rem; 
}
.navbar-logo-admin {
  color: #fffff2; 
  font-size: 2rem; 
}

.navbar-links {
  display: flex;
}

.nav-link {
  color: #333; 
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
}

.nav-link-admin {
  color: #fffff2; /* Change this to the color you want for the text */
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
}

.nav-link:not(:last-child) {
  margin-right: 1rem; /* This adds space between the links */
}

/* Add some hover effects */
.nav-link:hover {
  color: #555;
  text-decoration: underline;
}
/* TICKET FORM */
.ticket-form {
  margin: 0 auto;
  padding: 20px;
  background-color: #fffff2;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-field textarea {
  height: 100px;
  resize: vertical;
}

.submit-button {
  width: 80%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #006837;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #008e4b;
}
/* TICKET CARD */
.ticket-card {
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fffff2;
  border-width: 2px;
  border-style: solid;
  border-color: #7d6f5b;
  border-radius: 1rem;
  width: 50%;
  text-align: center;
}


.ticket-card h1 {
  color: #006837; 
  margin-bottom: .5rem;
}
/* HOME BODY */

.home-container {
  display: flex;
  justify-content: center;
  /* width: 80%; */
  align-items: center;
  padding: auto;
  height: auto; 
  background-color: transparent;
} 

/* LOGIN */
.login-page {
  width: 50%;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #fffff2;
  border-style: solid;
  border-color: #7d6f5b;
  border-radius: 1rem;
  text-align: center
}

.login-form .form-field {
  margin-bottom: 1rem;
}

.login-form .form-field label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form .form-field input {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 50%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #006837;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.login-button:hover {
  background-color: #008e4b;
}

.admin-profile-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right:1rem;
  background-color: #2E3440;
  color: #fff;
  overflow-y: scroll; 
  height: 87vh;
  transition: ease-in-out;
}

.admin-profile-card h2 {
  margin-bottom: .2rem;
}

.admin-space {
  display: flex;
  flex-direction:  column;
  align-self: flex-start;
  justify-content: flex-end;
  font-style: helvetica;
  padding: .5rem;
  margin: 1rem;
  border-radius: .1rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(89, 88, 88);
  height: auto;
  width: auto; 
  background-color: transparent;
}

h2 {
  font: 100;
  font-family: century;
  color: lightgrey;


}
.logout-button {
  position: relative;
  top: 0;
  right:0;
  width: 2.5rem;
  height: 2.5rem;
  border: solid;
  border-color: #623231;
  border-radius: .2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  
}
.logout-button:hover {
  width: 2.5rem;
  height: 2.5rem;
  border: solid;
  border-color: #b8302e;
  border-radius: .2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  
}

.logout-icon {
  width: 100%;
}

.delete-icon {
  display: flex;
  height: 100%;
  align-items: center;
}
.status-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.send-reply {
  margin: .2rem;
  width: 5rem;
  height: 2rem;
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  background-color: rgb(112, 112, 112); 
  color: rgb(207, 224, 254);
  cursor: pointer;
  font-size: 1rem;
}
.send-reply:hover {
  background-color: rgb(18, 18, 18); 
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.in-progress {
  margin: .2rem;
  width: 8rem;
  height: 2rem;
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  background-color: steelblue; 
  color: rgb(207, 224, 254);
  cursor: pointer;
  font-size: 1rem;
}

.in-progress:hover {
  
  background-color: cornflowerblue; 
  color: rgb(255, 255, 255);
  cursor: pointer;
  
}
.completed {
  margin: .2rem;
  width: 8rem;
  height: 2rem;
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  background-color: #b3b3b3;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.completed:hover {
  background-color: #ffffff;
  color: rgb(69, 69, 69);
  cursor: pointer;
}
.delete-ticket {
  margin: .4rem;
  align-self: end;
  align-items: end;
  align-content: end;
  width: auto;
  height: 2rem;
  border: solid;
  border-width: 1px;
  border-radius: 0;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.delete-ticket:hover {
  /* margin: 1rem; */
  width: auto;
  height: 2rem;
  border: solid;
  border-width: 1px;
  border-radius: .3rem;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.logout-button:hover {
  background-color: #ff413a;
}
/* admin card */
.admin-card {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: start;
  align-content: start;
  margin: 0 ;
  padding: 0;
  background-color: #2E3440;
  height: auto ;
}

/* ticket dispenser */

.ticket-dispenser {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-grow: 1;
  margin: 0;
  padding: 0; 
  background-color: #2E3440;
  text-align: center;
}

.ticket-container {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 4px;
  justify-content: center;
  align-content: center;
  align-items:center;
  padding-left: 2rem;
  padding-right:2rem;
  width: 90%;
  height: 100%
}


.full-ticket-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; 
  height: 100vh; 
  width: 100%;
  background-color: #2E3440;
  color: #fff;
  overflow-y: auto; 
}

.ticket-table-head {
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #e0e0e0;
}

table {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

thead {
  background-color: #7d6f5b;
  border-radius: 1rem;
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #e0e0e0;
}

tbody {
  display: block;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  overflow: auto; 
  width: 100%;
}

tr {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

td, th {
  justify-content: space-evenly;
  padding: 1rem;
  width: auto;
  flex-grow: 1;
}

.ticket-card {
  background-color:  #fffff2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 90vh;
}

.ticket-card-admin{
  flex-direction: row;
  background-color: transparent;
  border-radius: 10px;
  border:  2px solid #006837;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: .5rem;
  width: auto;
  height: auto;
  transition: 1s ease-in-out;
}
.ticket-card-admin:hover {
  flex-direction: row;
  /* background-color: transparent; */
  background-color: #2E3440;
  border-radius: 10px;
  border:  2px solid #31997e;
  margin: .5rem;
  width: auto;
  height: auto;
  transition: .1s ease;
}

.ticket-table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 1rem;
}
.ticket-table th,
.ticket-table td {
  text-align: left;
  padding: 1rem;
}

.ticket-table th {
  /* background-color: #f4f4f4; */
  color: #333;
  font-weight: bold;
  width: 80%;
}

.ticket-card-admin tr:hover {
  background-color: #ae7140;
  border-radius: 1rem;
}

.ticket-card-admin td {
  width:50%; /* Adjust the width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-table tr:last-child td {
  border-bottom: none;
}

.ticket-card-new {
  border: 2px solid green;
}

.ticket-card-in-progress {
  border: 2px solid blue;
}

.ticket-card-completed {
  border: 2px solid orange;
}

.ticket-details {
  justify-content: flex-start;
  background-color: #f8f8f8;
  color: black; 
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: auto;
  margin-top: 1rem; 
  border: 1px solid #e0e0e0; /* Add a border for definition */
  transition:  1s ease;

}

.reply-textarea {
  width: calc(100% - 20px);
  height: 20vh;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  resize: vertical;
  font-family: Arial, sans-serif;
}

.buttons-space {
  width: 90vh;
  height: 5vh;
  background-color: #a2e8c3;
}

.Toastify__toast--success {
  
  background-color: #31997e !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  bottom: 50%;
  transform: translateY(50%);
}

.actions-table {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  border-style: solid;
  border-color: #006837;
  background-color: #2E3440;
}
.actions-table:hover {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  border-style: solid;
  border-color: #008e4b;
  background-color: #2E3440;
  transition: .1s ;
}

.selected-button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  border-style: solid;
  border-color: #006837;
  background-color: #ececec;
  color: #006837;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 1rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.selected-button:hover {
  background-color: #2E3440;
  color: white;
  border-color:#a2e8c3;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 5px;
  cursor: pointer;
}

